Node-Red/Team7_FinalFlow.json
[
    {
        "id": "1f9769547017d99a",
        "type": "tab",
        "label": "Final Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9ab28bf2424eb115",
        "type": "mqtt in",
        "z": "1f9769547017d99a",
        "name": "",
        "topic": "cesithmcoil2025/Team7/Friedberg/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8122f68868c22d45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "d39b9a9fad9e23b1"
            ]
        ]
    },
    {
        "id": "92f60622bba86783",
        "type": "ui_chart",
        "z": "1f9769547017d99a",
        "name": "",
        "group": "227381e902a5f9a8",
        "order": 2,
        "width": "4",
        "height": "3",
        "label": "Voltage Trend  V (THM)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8ebd78361dc479f8",
        "type": "ui_gauge",
        "z": "1f9769547017d99a",
        "name": "",
        "group": "227381e902a5f9a8",
        "order": 6,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Power (THM)",
        "label": "units",
        "format": "{{value}} mW",
        "min": 0,
        "max": "1000",
        "colors": [
            "#01c101",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 200,
        "wires": []
    },
    {
        "id": "6c6fa65c53eb25ec",
        "type": "debug",
        "z": "1f9769547017d99a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "56cd491c4ada39c1",
        "type": "ui_text",
        "z": "1f9769547017d99a",
        "group": "227381e902a5f9a8",
        "order": 5,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Live Current Value (THM)",
        "format": "{{msg.payload}} mA",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1170,
        "y": 240,
        "wires": []
    },
    {
        "id": "0da52e31204efdb8",
        "type": "ui_text",
        "z": "1f9769547017d99a",
        "group": "227381e902a5f9a8",
        "order": 11,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Horizontal Angle (THM)",
        "format": "{{msg.payload}} °",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1170,
        "y": 320,
        "wires": []
    },
    {
        "id": "b05f9c64395d1a2c",
        "type": "ui_text",
        "z": "1f9769547017d99a",
        "group": "227381e902a5f9a8",
        "order": 12,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Vertical Angle (THM)",
        "format": "{{msg.payload}} °",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1160,
        "y": 360,
        "wires": []
    },
    {
        "id": "4a76e2dfa039eed8",
        "type": "switch",
        "z": "1f9769547017d99a",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "cesithmcoil2025/Team7/Friedberg/panel-voltage",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cesithmcoil2025/Team7/Friedberg/panel-power",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cesithmcoil2025/Team7/Friedberg/panel-current",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cesithmcoil2025/Team7/Friedberg/position/angle-h",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cesithmcoil2025/Team7/Friedberg/position/angle-v",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 770,
        "y": 180,
        "wires": [
            [
                "92f60622bba86783",
                "85be27b497f2018e"
            ],
            [
                "8ebd78361dc479f8"
            ],
            [
                "56cd491c4ada39c1",
                "4a7ac3a70ea2e5af"
            ],
            [
                "0da52e31204efdb8"
            ],
            [
                "b05f9c64395d1a2c"
            ]
        ]
    },
    {
        "id": "b50f60601809803c",
        "type": "ui_switch",
        "z": "1f9769547017d99a",
        "name": "",
        "label": "AUTO MODE (THM)",
        "tooltip": "",
        "group": "227381e902a5f9a8",
        "order": 10,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "cesithmcoil2025/Team7/Friedberg/control/mode",
        "topicType": "str",
        "style": "",
        "onvalue": "AUTO",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "MANUAL",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 560,
        "wires": [
            [
                "6d6c02b2c20efd0a"
            ]
        ]
    },
    {
        "id": "6d6c02b2c20efd0a",
        "type": "mqtt out",
        "z": "1f9769547017d99a",
        "name": "",
        "topic": "cesithmcoil2025/Team7/Friedberg/control/mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9f4edc856af73bb2",
        "x": 640,
        "y": 560,
        "wires": []
    },
    {
        "id": "d39b9a9fad9e23b1",
        "type": "function",
        "z": "1f9769547017d99a",
        "name": "Function for THM",
        "func": "if (\n    msg.topic.includes(\"panel-voltage\") ||\n    msg.topic.includes(\"panel-current\") ||\n    msg.topic.includes(\"panel-power\") ||\n    msg.topic.includes(\"angle-h\") ||\n    msg.topic.includes(\"angle-v\")\n) {\n    msg.payload = Number(msg.payload);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 180,
        "wires": [
            [
                "6c6fa65c53eb25ec",
                "4a76e2dfa039eed8"
            ]
        ]
    },
    {
        "id": "7bb7a99fa622af1b",
        "type": "mqtt in",
        "z": "1f9769547017d99a",
        "name": "",
        "topic": "cesithmcoil2025/Team7/Friedberg/status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8122f68868c22d45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 480,
        "wires": [
            [
                "8d72753090fc6df7"
            ]
        ]
    },
    {
        "id": "8d72753090fc6df7",
        "type": "ui_text",
        "z": "1f9769547017d99a",
        "group": "227381e902a5f9a8",
        "order": 9,
        "width": "8",
        "height": "2",
        "name": "",
        "label": "Current Mode (THM)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 480,
        "wires": []
    },
    {
        "id": "61abe79415c61cd6",
        "type": "ui_numeric",
        "z": "1f9769547017d99a",
        "name": "",
        "label": "Horizontal Angle (THM)",
        "tooltip": "",
        "group": "227381e902a5f9a8",
        "order": 7,
        "width": "8",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "step": "10",
        "className": "",
        "x": 250,
        "y": 620,
        "wires": [
            [
                "b778228b7265dfc7"
            ]
        ]
    },
    {
        "id": "4febcfb070d566ab",
        "type": "ui_numeric",
        "z": "1f9769547017d99a",
        "name": "",
        "label": "Vertical Angle (THM)",
        "tooltip": "",
        "group": "227381e902a5f9a8",
        "order": 8,
        "width": "8",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": "10",
        "className": "",
        "x": 240,
        "y": 680,
        "wires": [
            [
                "8a02e19be416015e"
            ]
        ]
    },
    {
        "id": "b778228b7265dfc7",
        "type": "mqtt out",
        "z": "1f9769547017d99a",
        "name": "",
        "topic": "cesithmcoil2025/Team7/Friedberg/control/angle-h",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9f4edc856af73bb2",
        "x": 650,
        "y": 620,
        "wires": []
    },
    {
        "id": "8a02e19be416015e",
        "type": "mqtt out",
        "z": "1f9769547017d99a",
        "name": "",
        "topic": "cesithmcoil2025/Team7/Friedberg/control/angle-v",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9f4edc856af73bb2",
        "x": 650,
        "y": 680,
        "wires": []
    },
    {
        "id": "c36c71a2b550c5b6",
        "type": "mqtt in",
        "z": "1f9769547017d99a",
        "name": "",
        "topic": "cesithmcoil2025/Team7/Arras/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d02116f84805c373",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 960,
        "wires": [
            [
                "19486248e1b3a557"
            ]
        ]
    },
    {
        "id": "a2cbf2ae56945817",
        "type": "debug",
        "z": "1f9769547017d99a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1120,
        "wires": []
    },
    {
        "id": "9d8e4e5280693ba8",
        "type": "switch",
        "z": "1f9769547017d99a",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "cesithmcoil2025/Team7/Arras/panel-voltage",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cesithmcoil2025/Team7/Arras/panel-power",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cesithmcoil2025/Team7/Arras/panel-current",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cesithmcoil2025/Team7/Arras/position/angle-h",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cesithmcoil2025/Team7/Arras/position/angle-v",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 770,
        "y": 960,
        "wires": [
            [
                "057a199f5baa84dd",
                "e5363e413ee09947"
            ],
            [
                "860aafc3681b8f63"
            ],
            [
                "01981e815446fe54",
                "a0abf57dae082920"
            ],
            [
                "4831cc12856ef801"
            ],
            [
                "e91beea41041cf34"
            ]
        ]
    },
    {
        "id": "057a199f5baa84dd",
        "type": "ui_chart",
        "z": "1f9769547017d99a",
        "name": "",
        "group": "a6653c2de36c18ee",
        "order": 1,
        "width": "4",
        "height": "3",
        "label": "Voltage Trend  V (ARRAS)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "860aafc3681b8f63",
        "type": "ui_gauge",
        "z": "1f9769547017d99a",
        "name": "",
        "group": "a6653c2de36c18ee",
        "order": 5,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Power (ARRAS)",
        "label": "units",
        "format": "{{value}} mW",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 940,
        "wires": []
    },
    {
        "id": "01981e815446fe54",
        "type": "ui_text",
        "z": "1f9769547017d99a",
        "group": "a6653c2de36c18ee",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Live Current Value (ARRAS)",
        "format": "{{msg.payload}} mA",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1180,
        "y": 980,
        "wires": []
    },
    {
        "id": "4831cc12856ef801",
        "type": "ui_text",
        "z": "1f9769547017d99a",
        "group": "a6653c2de36c18ee",
        "order": 10,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Horizontal Angle (ARRAS)",
        "format": "{{msg.payload}} °",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1170,
        "y": 1060,
        "wires": []
    },
    {
        "id": "e91beea41041cf34",
        "type": "ui_text",
        "z": "1f9769547017d99a",
        "group": "a6653c2de36c18ee",
        "order": 11,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Vertical Angle (ARRAS)",
        "format": "{{msg.payload}} °",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1170,
        "y": 1100,
        "wires": []
    },
    {
        "id": "19486248e1b3a557",
        "type": "function",
        "z": "1f9769547017d99a",
        "name": "Function for Arras",
        "func": "if (\n    msg.topic.includes(\"panel-voltage\") ||\n    msg.topic.includes(\"panel-current\") ||\n    msg.topic.includes(\"panel-power\") ||\n    msg.topic.includes(\"angle-h\") ||\n    msg.topic.includes(\"angle-v\")\n) {\n    msg.payload = Number(msg.payload);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 960,
        "wires": [
            [
                "9d8e4e5280693ba8",
                "a2cbf2ae56945817"
            ]
        ]
    },
    {
        "id": "eb08f2a4fde6ec2b",
        "type": "ui_switch",
        "z": "1f9769547017d99a",
        "name": "",
        "label": "AUTO MODE (ARRAS)",
        "tooltip": "",
        "group": "a6653c2de36c18ee",
        "order": 9,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "cesithmcoil2025/Team7/Arras/control/mode",
        "topicType": "str",
        "style": "",
        "onvalue": "AUTO",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "MANUAL",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 1320,
        "wires": [
            [
                "23a710e089a690c3"
            ]
        ]
    },
    {
        "id": "8df7622386b08e70",
        "type": "ui_numeric",
        "z": "1f9769547017d99a",
        "name": "",
        "label": "Horizontal Angle (ARRAS) ",
        "tooltip": "",
        "group": "a6653c2de36c18ee",
        "order": 6,
        "width": "8",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "step": "10",
        "className": "",
        "x": 250,
        "y": 1380,
        "wires": [
            [
                "dca27ff92c5cd428"
            ]
        ]
    },
    {
        "id": "3dce6ce2149ce2a2",
        "type": "ui_numeric",
        "z": "1f9769547017d99a",
        "name": "",
        "label": "Vertical Angle (ARRAS)",
        "tooltip": "",
        "group": "a6653c2de36c18ee",
        "order": 7,
        "width": "8",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 250,
        "y": 1440,
        "wires": [
            [
                "0c02dc75ace24c2d"
            ]
        ]
    },
    {
        "id": "23a710e089a690c3",
        "type": "mqtt out",
        "z": "1f9769547017d99a",
        "name": "",
        "topic": "cesithmcoil2025/Team7/Arras/control/mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d02116f84805c373",
        "x": 670,
        "y": 1320,
        "wires": []
    },
    {
        "id": "dca27ff92c5cd428",
        "type": "mqtt out",
        "z": "1f9769547017d99a",
        "name": "",
        "topic": "cesithmcoil2025/Team7/Arras/control/angle-h",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d02116f84805c373",
        "x": 670,
        "y": 1380,
        "wires": []
    },
    {
        "id": "0c02dc75ace24c2d",
        "type": "mqtt out",
        "z": "1f9769547017d99a",
        "name": "",
        "topic": "cesithmcoil2025/Team7/Arras/control/angle-v",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d02116f84805c373",
        "x": 670,
        "y": 1440,
        "wires": []
    },
    {
        "id": "564f04c419b67b3a",
        "type": "mqtt in",
        "z": "1f9769547017d99a",
        "name": "",
        "topic": "cesithmcoil2025/Team7/Arras/status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d02116f84805c373",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 1240,
        "wires": [
            [
                "c8423cfdbe09643b"
            ]
        ]
    },
    {
        "id": "c8423cfdbe09643b",
        "type": "ui_text",
        "z": "1f9769547017d99a",
        "group": "a6653c2de36c18ee",
        "order": 8,
        "width": "8",
        "height": "2",
        "name": "",
        "label": "Current Mode (ARRAS)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 1240,
        "wires": []
    },
    {
        "id": "85be27b497f2018e",
        "type": "ui_text",
        "z": "1f9769547017d99a",
        "group": "227381e902a5f9a8",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Live Voltage Value (THM)",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1170,
        "y": 120,
        "wires": []
    },
    {
        "id": "4a7ac3a70ea2e5af",
        "type": "ui_chart",
        "z": "1f9769547017d99a",
        "name": "",
        "group": "227381e902a5f9a8",
        "order": 4,
        "width": "4",
        "height": "3",
        "label": "Current Trend  mA (THM)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e5363e413ee09947",
        "type": "ui_text",
        "z": "1f9769547017d99a",
        "group": "a6653c2de36c18ee",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Live Voltage Value (ARRAS)",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1180,
        "y": 860,
        "wires": []
    },
    {
        "id": "a0abf57dae082920",
        "type": "ui_chart",
        "z": "1f9769547017d99a",
        "name": "",
        "group": "a6653c2de36c18ee",
        "order": 3,
        "width": "4",
        "height": "3",
        "label": "Current Trend mA (ARRAS)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "8122f68868c22d45",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "227381e902a5f9a8",
        "type": "ui_group",
        "name": "Friedberg, Germany",
        "tab": "6aeee507b2cbde09",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9f4edc856af73bb2",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d02116f84805c373",
        "type": "mqtt-broker",
        "name": "HaveMQ",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a6653c2de36c18ee",
        "type": "ui_group",
        "name": "Arras, France",
        "tab": "6aeee507b2cbde09",
        "order": 3,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6aeee507b2cbde09",
        "type": "ui_tab",
        "name": "Team7 / SolarLink7",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "88136338ca6c1828",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]